:root {
    --blue: #3EA1DB;
    --blue-dark: #574AE8;
    --white: #FFF;
    --background: #F3F5F7;
    --glassEffect: rgb(255, 255, 255, 0.5);

    --title: #313131;
    --text: #B6B6B6;
    
    --linear: linear-gradient(90deg, #574AE8 0%, #3EA1DB 100%);
}